[run]
source = kfp_components
omit =
    tests/*
    */__init__.py
    */*/__init__.py
    */*/USAGE*.ipynb
    USAGE*.ipynb
    alert.py
    pipelinehelper.py
    outbound.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

